@import url("https://fonts.googleapis.com/css?family=Audiowide");

*{
    margin:0 auto;
}
*{
    font-family: 'Audiowide',sans-serif;
}
/* tête de page */

header.header{
    align-items:center;
}

header.header img{
        width: 125px; 
}

/* section.top-page{
    background-size: cover;
    height: 80vh;
    padding: 16px;
    background-color:rgb(2,2,32);
} */

/*menu de navigation */

nav.nav{
    display: flex;
    list-style: none;
    color:rgb(0, 0, 0);
    font-family: 'Audiowide', sans-serif;
    margin-left: 30px;
    align-items:center;
    margin-top: -5%;
}








