*{
	margin:0 auto;
	
	/* cursor: url("https://img.icons8.com/nolan/50/centre-of-gravity.png"), default; */
	}
	
	body {
	/* background-image:url('../img/peakpx\ \(2\).jpg'); */
	background-color: #07171f;
	background-size:100%;
	background-repeat: repeat-y;
	background-attachment: fixed;
	height:100%;
	width:100%;
	font-family:'GT-Sectra-Fine-Bold';
	
	}
	
	/* NAVBAR */

	nav{
		display: flex;
		justify-content: flex-end;
		position: relative;
		
		
	}

	nav ul{
	list-style: none;
	margin-right: 15px;
	margin-top: 2.33%;
	position:fixed;
	z-index: 8;
	}
	
	nav ul li{
	float: right;
	margin: 3.1vh;
	font-size: 2.2vh; 
	}
	
	/* nav ul li a:hover{
	box-shadow: 0 0 50px #64c1f7,
				0 0 50px #66ffff;
	} */
	
	nav ul li a{
	color: white;
	text-decoration: none;
	padding: 2px 6px;
	font-family:'GT-Sectra-Fine-Bold';
	}
	
	
	/* écriture central */
	.content {
	position: absolute;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	/* margin:auto; */
	min-height: 100vh;
	}
	
	/* services-items */
	.services{
	margin-top:100vh;
	display: flex;
	justify-content: space-evenly;
	background-color: #07171f;
	
	}
	.service-items{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	margin: 1.5em;
	padding: 2.3em;
	
	
	}
	.service-details{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	letter-spacing: normal;
	color: azure;
	font-weight: 500;
	text-align: center;
	font-size: 1.5em;
	font-family:'GT-Sectra-Fine-Bold';
	}

	.best-items{
		background-color: #07171f;
	}
	
	
	/* best sellers */
	
	.section-title{
	font-size: 1.9em;
	color: white;
	position:relative;
	padding: 5%;
	/* font-family:'Courier New', Courier, monospace; */
	font-family:'GT-Sectra-Fine-Bold';
	background-color: #07171f;
	}
	.section-title::before{
	content: "";
	position: absolute;
	background-color: #4fcbf1;
	width: 10vh;
	height: 0.3em;;
	bottom: 8vh;
	}
	/* carousel */
	
	.pic-ctn {
		width: 110vw;
		height: 220px;
		
	  }
	  
	  @keyframes display {
		0% {
		  transform: translateX(200px);
		  opacity: 0;
		}
		10% {
		  transform: translateX(0);
		  opacity: 1;
		}
		20% {
		  transform: translateX(0);
		  opacity: 1;
		}
		30% {
		  transform: translateX(-200px);
		  opacity: 0;
		}
		100% {
		  transform: translateX(-200px);
		  opacity: 0;
		}
	  }
	  
	.pic-ctn {
	position: relative;
	width: 100vw;
	height: 380px;
	margin-top: 15vh;
	background-color: #07171f;
	}
	
	.pic-ctn > img {
	position: absolute;
	top: 0;
	left: calc(50% - 100px);
	opacity: 0;
	animation: display 10s infinite;
	background-color: #07171f;
	}
	
	img:nth-child(2) {
	animation-delay: 2s;
	}
	img:nth-child(3) {
	animation-delay: 4s;
	}
	img:nth-child(4) {
	animation-delay: 6s;
	}
	img:nth-child(5) {
	animation-delay: 8s;
	}

	/* Nouveautés */
	
	/* Grid */
	
	.new-nfts{
		margin:10vh;
		background-color: #07171f;
	}
	
	.nft-grid{
		display: grid;
		position: relative;
		min-height: 100vh;
		grid-template-columns: repeat(4,1fr);
		grid-template-rows: repeat(400px);
	}
	
	.nft-grid1{
		background-image: url("../img/scout.JPG");
		background-repeat: no-repeat;
		width: 100%;
		background-size:cover;
		grid-column: 1/3;
		grid-row: 1/3;
		
	}
	.nft-grid2{
		background-image: url("../img/revolver.JPG");
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		grid-column: 3/5;
	
	}
	.nft-grid3{
		background-image: url("../img/pick.JPG");
		background-repeat: no-repeat;
		width: 100%;
		background-size: cover;
		grid-column: 3/5;
	}
	
	
	/* .nft-details{
		background-color: #FFFFFFDF;
		position: absolute;
		
		width: 93.3vh;
	
	} */