*{
	margin:0 auto;
	/* cursor: url("https://img.icons8.com/nolan/50/centre-of-gravity.png"), default; */
	}
	
	body {
	background-image:url('../img/peakpx\ \(2\).jpg');
	background-size:100%;
	background-repeat: repeat-y;
	background-attachment: fixed;
	height:100%;
	width:100%;
	}
	

	nav{
		display: flex;
		justify-content: flex-end;
		position: relative;
		background-color: blue;
	}

	nav ul{
	list-style: none;
	margin-right: 15px;
	margin-top: 2.33%;
	position:fixed;
	z-index: 8;
	}
	
	nav ul li{
	float: right;
	margin: 30px;
	font-size: 15px; 
	}
	
	nav ul li a:hover{
	box-shadow: 0 0 20px #64c1f7,
				0 0 20px #66ffff;
	}
	
	nav ul li a{
	color: white;
	text-decoration: none;
	padding: 2px 6px;
	font-family:'GT-Sectra-Fine-Bold';
	}
	
	
	/* écriture central */
	.content {
	position: absolute;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	/* margin:auto; */
	min-height: 100vh;
	}
	
	/* services-items */
	.services{
	margin-top:45%;
	display: flex;
	justify-content: space-evenly;
	}
	.service-items{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	margin: 4%;
	padding: 30px;
	}
	.service-details{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	letter-spacing: normal;
	color: azure;
	font-weight: 500;
	text-align: center;
	font-size: 110%;
	}
	
	
	/* best sellers */
	
	.section-title{
	font-size: 50px;
	color: white;
	position:relative;
	padding: 5%;
	font-family:'Courier New', Courier, monospace;
	}
	.section-title::before{
	content: "";
	position: absolute;
	background-color: #4fcbf1;
	width: 50px;
	height: 7px;
	bottom: 10vh;
	}
	/* carousel */
	
	.carousel-wrapper{
	 height: 400px;
	 position: relative;
	 width: 800px;
	 display: block;
	 margin: 50px auto;
	 border: 2px solid black;
	}
	.carousel-item {
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 padding: 25px 50px;
	 opacity: 0;
	 transition: all 0.5s ease-in-out;
	}
	/* contenu flèches */
	.arrow{
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 12px;
	}
	/* flèche avant */
	.arrow-prev{
	 left: 30px;
	 position: absolute;
	 top: 50%;
	 transform: translateY(-50%) rotate(135deg);
	}
	/* flèche après */
	.arrow-next {
	right: 30px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	}
	
	[id^= "item"] {
	display: none;
	}
	.item-1 {
	 z-index: 2;
	 opacity: 1;
	 background: url('../img/NFT.gif');
	 background-size: cover;
	}
	.item-2 {
	 background: url('../img/NFT2.gif');
	 background-size: cover;
	}
	.item-3 {
	 background: url('../img/NFT3.gif');
	 background-size: cover;
	}
	*:target ~ .item-1{
	  opacity: 0;
	}
	#item-1:target ~ .item-1 {
		opacity: 1;
	} 
	#item-2:target ~ .item-2, #item-3:target ~ .item-3{
		z-index: 3;
		opacity: 1;
	}
	
	/* Nouveautés */
	
	/* Grid */
	
	.new-nfts{
		margin:10x;
	}
	
	.nft-grid{
		display: grid;
		position: relative;
		min-height: 100vh;
		grid-template-columns: repeat(4,1fr);
		grid-template-rows: repeat(400px);
	}
	
	.nft-grid1{
		background-image: url("../img/fond.jpg");
		background-repeat: no-repeat;
		width: 100%;
		background-size:cover;
		grid-column: 1/3;
		grid-row: 1/3;
		
	}
	.nft-grid2{
		background-image: url("../img/fond.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		grid-column: 3/5;
	
	}
	.nft-grid3{
		background-image: url("../img/fond.jpg");
		background-repeat: no-repeat;
		width: 100%;
		background-size: cover;
		grid-column: 3/5;
	}
	/* .nft-grid4{
		background-image: url("/img/R.jpg");
		background-repeat: no-repeat;
		width: 100%;
		height: 110%;
		background-size: cover;
		grid-column: 1;
		grid-row: 3/5;
	}
	.nft-grid5{
		background-image: url("/img/NFT/U.gif");
		background-repeat: no-repeat;                              
		background-size: cover;
		width: 100%;
		height: 110%;
		grid-column: 2/4;
		grid-row: 3/5;
	}
	.nft-grid6{
		background-image: url("/img/K.jpg");
		background-repeat: no-repeat;
		width: 100%;
		height: 110%;
		background-size: cover;
		grid-column: 4;
		grid-row: 3/5;
	
	} */
	
	.nft-details{
		background-color: #FFFFFFDF;
		position: absolute;
		
		width: 93.3vh;
	
	}
	