body{

    background-color: black;
    color: white;
}

h1{

    margin-left: 35%;

}

.container{
    border:1rem solid rgba(255, 255, 255, 0.824);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.elements{
    color: white;
    display: flex;
    justify-content: space-evenly;
}